<h1>Beers#index</h1>
<p>Find me in app/views/beers/index.html.erb</p>
<ul>
  <% @beers.each do |b| %>
  <li>
    <a href="/beers/<%=b.id%>"><%= b.name %></a>
    <%= link_to(b.name, beer_path(b)) %>
  </li>
  <% end %>
</ul>
