<h1>Beers#new</h1>
<p>Find me in app/views/beers/new.html.erb</p>
<%= form_for( @beer ) do |b| %>
<%= b.text_field(:name, placeholder: "Enter Name") %>
<%= b.text_field(:abv, placeholder: "Enter abv") %>
<%= b.submit  %>
<% end %>
